/* App.css */

.element-selector {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff8a00, #ec008c, #00c6ff);
}


section {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff8a00, #ff8a00) fixed,
              linear-gradient(to right, #ec008c, #ec008c) fixed,
              linear-gradient(to right, #00c6ff, #00c6ff) fixed;
  background-size: 33% 100%;
  background-repeat: no-repeat;
}

div {
  font-family: 'Arial', sans-serif;
  padding-inline: 20px; 

}
